$primary-color: #18BC9C;
// $primary-color: #FF69B4;
// $secondary-color: #002944;
$secondary-color: #001847;

.bg {
  background: #f9f9f9;
}
.bg-primary {
  background: $primary-color;
}
.bg-secondary {
  background: $secondary-color;
}
.text-primary {
  color: $primary-color;
}
.link-primary {
  color: $primary-color;
  &:active,
  &:hover,
  &:focus,
  &:focus-visible,
  &:visited {
    color: $primary-color;
  }
}

// common
body {
  margin: 0;
}
div, button {
  box-sizing: border-box;
}
img {
  display: block !important;
}
a:focus,
a:hover,
a:active {
  outline: none;
}
